h1 {
    margin-top: 100px;
}
.list-group-item:hover {
    cursor: pointer;
}

.list-group-item {
    font-size: 1em;
}

@media only screen and (max-device-width: 1366px) {
    h1 {
        font-size: 4em;
    }
    .list-group-item {
        font-size: 2em;
    }

    .btn-wrap .btn {
        height: 100px;
        font-size: 2em;
    }
}
